<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light navbar-custom sticky-top shadow-lg">
    <div class="container">
        <a id="nav-brand" class="navbar-brand" href="{{ url_for('home') }}">EPL Predictor</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

               
                
                {% if current_user.id == 1 or current_user.is_admin == true %}
                <li class="nav-item ms-2">
                    <a class="nav-link" href="{{ url_for('match_week') }}">Match Week</a>
                </li>
                <li class="nav-item ms-2">
                    <a class="nav-link" href="{{ url_for('fixtures') }}">Fixtures</a>
                </li>
                
                <li class="nav-item ms-2">
                    <a class="nav-link" href="{{ url_for('results') }}">Results</a>
                </li>
                
                <li class="nav-item ms-2">
                    <a class="nav-link" href="{{ url_for('get_user_predictions') }}">User Picks</a>
                </li>
                <li class="nav-item ms-2">
                    <a class="nav-link" href="{{ url_for('admin') }}">Admin Panel</a>
                </li>
                {% endif %}

                <li class="nav-item ms-2">
                    <div style="height: 35px; " class="vr"></div> <!-- Vertical divider -->
                </li>


                <li class="nav-item ms-2">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item ms-2">
                    <a class="nav-link" href="{{ url_for('predict') }}">Predict</a>
                </li>
                <li class="nav-item ms-2">
                    <a class="nav-link" href="{{ url_for('leaderboard') }}">Leaderboard</a>
                </li>
               
                

                {% if current_user.is_authenticated %}
                <li class="nav-item ms-2">
                    <a class="nav-link" href="{{ url_for('profile', user_id=current_user.id) }}">Profile</a>
                </li>
                <li class="nav-item ms-2">
                    <a id="logout-btn" class="btn btn-primary btn-md custom-btn ms-3 rounded-pill" href="{{ url_for('logout') }}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item ms-2">
                    <a id="login-btn" class="btn btn-primary btn-md custom-btn ms-3 rounded-pill" href="{{ url_for('login') }}">Login</a>
                </li>                   
                {% endif %}
            </ul>
        </div>
    </div>
</nav>